aside {
    background-color: #FDFCDF;
    color: #652766;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 220px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    margin-top: 70px;
}

.menu-list{
    list-style: circle;
    padding-left: 30px;
}

.menu-list a{
    text-decoration: underline;
}

.menu-list li:hover {
    background: #E0DFB8; /* выделение по наведению*/
    /*color: #d8fb0c;*/
    list-style: disc;
}

.menu-list li.current{
    background: #E0DFB8;
    list-style: disc;
    border-radius: 5px;
    border: solid thin #652766;
}