.field {
    margin-bottom: 20px;
    margin-top: 80px;
    max-width: 90%;
    margin-left: 20px;
    width: 100%;
    border: none;
    -webkit-border-radius: 3px;
    display: inline-block;
}

#result {
    text-align: center;
    background: black;
    color: #fccfd9;
}

table{
    margin-left: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-spacing: 0;
}
th, td{
    padding: 10px 20px;
    border: 1px solid #000;
}