.preloader, .error {
    margin: 20px;
    text-align: center;
}

.main_gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1.5vh;
}

.more {
    font-size: 30px;
    margin-left: 45%;
    height: 100px;
    width: 150px;
}

.gif{
    width: 90px;
    height: 90px;
    /*margin-left: 45%;*/
}