header{
    background-color: #355B1E;
    color: #FBDBEA;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
}

.main-page{
    text-align: center;
}

.searchbar {
    display: flex;
    margin-left: auto;
}
